model:
  use_pd: true
  scale_factor: 0.7 #1.15258426  0.25
  disable_first_stage_autocast: true
  latent_input: false
  noised_image_input: true
  noised_image_all_concat: false
  noised_image_dropout: 0.05
  augmentation_dropout: 0.15
  log_keys:
    - txt

  denoiser_config:
    target: sgm.modules.diffusionmodules.denoiser.DiscreteDenoiser
    params:
      num_idx: 1000
      quantize_c_noise: False

      weighting_config:
        target: sgm.modules.diffusionmodules.denoiser_weighting.EpsWeighting
      scaling_config:
        target: sgm.modules.diffusionmodules.denoiser_scaling.VideoScaling
      discretization_config:
        target: sgm.modules.diffusionmodules.discretizer.ZeroSNRDDPMDiscretization

  network_config:
    target: dit_video_concat.DiffusionTransformer
    params:
#      space_interpolation: 1.875
      cfg_embed_dim: 512
      ofs_embed_dim: 512
      time_embed_dim: 512
      elementwise_affine: True
      num_frames: 161
      time_compressed_rate: 4
      latent_width: 300
      latent_height: 300
      num_layers: 42
      patch_size: [2, 2, 2]
      in_channels: 32
      out_channels: 16
      hidden_size: 3072
#      num_classes: sequential
      adm_in_channels: 256
      num_attention_heads: 48
      # compress_frame: True
      # pad_first: True

      transformer_args:
        checkpoint_activations: True
        vocab_size: 1
        max_sequence_length: 64
        layernorm_order: pre
        skip_init: false
        model_parallel_size: 1
        is_decoder: false

      modules:
        pos_embed_config:
          target: dit_video_concat.Rotary3DPositionEmbeddingMixin
          params:
            hidden_size_head: 64
            text_length: 224

#        pos_embed_config:
#          target: dit_video_concat.Basic3DPositionEmbeddingMixin
#          params:
#            text_length: 225

        patch_embed_config:
          target: dit_video_concat.ImagePatchEmbeddingMixin
          params:
            text_hidden_size: 4096
            use_conv: False

        adaln_layer_config:
          target: dit_video_concat.AdaLNMixin
          params:
            qk_ln: True

        final_layer_config:
          target: dit_video_concat.FinalLayerMixin

  conditioner_config:
    target: sgm.modules.GeneralConditioner
    params:
      emb_models:
        # crossattn cond
          - is_trainable: false
            input_key: txt
            ucg_rate: 0.1
            target: sgm.modules.encoders.modules.FrozenT5Embedder
            params:
              cache_dir: /workspace/ckpt/official_pretrains/hf_home
              max_length: 224
#          - is_trainable: False
#            input_key: num_frames
#            ucg_rate: 0.1
#            target: sgm.modules.encoders.modules.ConcatTimestepEmbedderND
#            params:
#              outdim: 256

  first_stage_config:
    target : sgm.models.autoencoder.VideoAutoencoderInferenceWrapper
    params:
        cp_size: 1
        ckpt_path: /workspace/ckpt/official_pretrains/other_home/videokl_ch16_long_20w.pt
        ignore_keys: ['loss']

        loss_config:
          target: torch.nn.Identity

        regularizer_config:
          target: sgm.modules.autoencoding.regularizers.DiagonalGaussianRegularizer

        encoder_config:
          target: sgm.modules.cp_enc_dec.ContextParallelEncoder3D
          params:
            double_z: true
            z_channels: 16
            resolution: 256
            in_channels: 3
            out_ch: 3
            ch: 128
            ch_mult: [1, 2, 2, 4]
            attn_resolutions: []
            num_res_blocks: 3
            dropout: 0.0
            gather_norm: True

        decoder_config:
          target: sgm.modules.cp_enc_dec.ContextParallelDecoder3D
          params:
            double_z: True
            z_channels: 16
            resolution: 256
            in_channels: 3
            out_ch: 3
            ch: 128
            ch_mult: [1, 2, 2, 4]
            attn_resolutions: []
            num_res_blocks: 3
            dropout: 0.0
            gather_norm: True

  loss_fn_config:
    target: sgm.modules.diffusionmodules.loss.PDDiffusionLoss
    params:
      num_idx: 32
      offset_noise_level: 0
      discretization_config:
        target: sgm.modules.diffusionmodules.discretizer.ZeroSNRDDPMDiscretization

  sampler_config:
    target: sgm.modules.diffusionmodules.sampling.VideoDDIMSampler
    params:
      num_steps: 16
      verbose: true
      discretization_config:
        target: sgm.modules.diffusionmodules.discretizer.ZeroSNRDDPMDiscretization
      guider_config:
        target: sgm.modules.diffusionmodules.guiders.VanillaCFG
        params:
          scale: 9.5