model:
  scale_factor: 0.7 #1.15258426  0.25
  disable_first_stage_autocast: true
  latent_input: true
  log_keys:
    - txt
  
  denoiser_config:
    target: sgm.modules.diffusionmodules.denoiser.Denoiser
    params:
      weighting_config:
        target: sgm.modules.diffusionmodules.denoiser_weighting.EpsWeighting
      scaling_config:
        target: sgm.modules.diffusionmodules.denoiser_scaling.RFScaling

  network_config:
    target: dit_video_crossattn.DiffusionTransformer
    params:
#      space_interpolation: 1.875
      time_embed_dim: 512
      elementwise_affine: True
      num_frames: 161
      time_compressed_rate: 4
      latent_width: 300
      latent_height: 300
      num_layers: 42
      patch_size: [1, 2, 2]
      in_channels: 16
      out_channels: 16
      hidden_size: 3072
#      num_classes: sequential
      adm_in_channels: 256
      num_attention_heads: 24
      # compress_frame: True
      # pad_first: True

      transformer_args:
        checkpoint_activations: True
        cross_attn_hidden_size: 4096
        vocab_size: 1
        max_sequence_length: 64
        layernorm_order: pre
        skip_init: false
        model_parallel_size: 1
        is_decoder: true

      modules:
        pos_embed_config:
          target: dit_video_crossattn.Rotary3DPositionEmbeddingMixin
          params:
            hidden_size_head: 128
            text_length: 256

#        pos_embed_config:
#          target: dit_video_crossattn.Basic3DPositionEmbeddingMixin
#          params:
#            text_length: 225

        patch_embed_config:
          target: dit_video_crossattn.ImagePatchEmbeddingMixin
          params:
            use_conv: False

        adaln_layer_config:
          target: dit_video_crossattn.AdaLNMixin
          params:
            qk_ln: True

        final_layer_config:
          target: dit_video_crossattn.FinalLayerMixin

  conditioner_config:
    target: sgm.modules.GeneralConditioner
    params:
      emb_models:
        # crossattn cond
          - is_trainable: false
            input_key: txt
            ucg_rate: 0.1
            target: sgm.modules.encoders.modules.FrozenT5Embedder
            params:
              cache_dir: /workspace/ckpt/official_pretrains/hf_home
              max_length: 256
#          - is_trainable: False
#            input_key: num_frames
#            ucg_rate: 0.1
#            target: sgm.modules.encoders.modules.ConcatTimestepEmbedderND
#            params:
#              outdim: 256

  first_stage_config:
    target : sgm.models.autoencoder.VideoAutoencoderInferenceWrapper
    params:
        cp_size: 1
        ckpt_path: /workspace/ckpt/official_pretrains/other_home/videokl_ch16_long_20w.pt
        ignore_keys: ['loss']

        loss_config:
          target: torch.nn.Identity

        regularizer_config:
          target: sgm.modules.autoencoding.regularizers.DiagonalGaussianRegularizer

        encoder_config:
          target: sgm.modules.cp_enc_dec.ContextParallelEncoder3D
          params:
            double_z: true
            z_channels: 16
            resolution: 256
            in_channels: 3
            out_ch: 3
            ch: 128
            ch_mult: [1, 2, 2, 4]
            attn_resolutions: []
            num_res_blocks: 3
            dropout: 0.0
            gather_norm: True

        decoder_config:
          target: sgm.modules.cp_enc_dec.ContextParallelDecoder3D
          params:
            double_z: True
            z_channels: 16
            resolution: 256
            in_channels: 3
            out_ch: 3
            ch: 128
            ch_mult: [1, 2, 2, 4]
            attn_resolutions: []
            num_res_blocks: 3
            dropout: 0.0

  loss_fn_config:
    target: sgm.modules.diffusionmodules.loss.RFLoss
    params:
      offset_noise_level: 0
      sigma_sampler_config:
        target: sgm.modules.diffusionmodules.sigma_sampling.RFSampling
        params:
          p_mean: 0.0
          p_std: 1.0

  sampler_config:
    target: sgm.modules.diffusionmodules.sampling.RFSampler
    params:
      num_steps: 50
      verbose: True

      discretization_config:
        target: sgm.modules.diffusionmodules.discretizer.RFDiscretization
        params:
          shift_scale: 1.0

      guider_config:
        target: sgm.modules.diffusionmodules.guiders.DynamicCFG
        params:
          scale: 6
          exp: 5
          num_steps: 50
      
      # guider_config:
      #   target: sgm.modules.diffusionmodules.guiders.VanillaCFG
      #   params:
      #     scale: 5.0