model:
  scale_factor: 0.7
  disable_first_stage_autocast: true
  latent_input: false
  log_keys:
    - txt
  
  denoiser_config:
    target: sgm.modules.diffusionmodules.denoiser.Denoiser
    params:
      weighting_config:
        target: sgm.modules.diffusionmodules.denoiser_weighting.EpsWeighting
      scaling_config:
        target: sgm.modules.diffusionmodules.denoiser_scaling.RFScaling

  network_config:
    target: flux.DiffusionTransformer
    params:
#      space_interpolation: 1.875
      num_classes: sequential
      time_embed_dim: 512
      elementwise_affine: False
      num_frames: 161
      time_compressed_rate: 4
      latent_width: 300
      latent_height: 300
      num_mm_layers: 16
      num_single_layers: 32
      patch_size: [1, 2, 2]
      in_channels: 16
      out_channels: 16
      hidden_size: 2048
      inner_hidden_size: 5440
      adm_in_channels: 1152
      num_attention_heads: 32
      num_multi_query_heads: 8
      use_SwiGLU: True
      use_RMSNorm: False
      layernorm_epsilon: 1e-6

      transformer_args:
        checkpoint_activations: True
        vocab_size: 1
        max_sequence_length: 64
        layernorm_order: pre
        skip_init: false
        model_parallel_size: 1
        is_decoder: false

      modules:
        pos_embed_config:
          target: flux.Rotary3DPositionEmbeddingMixin
          params:
            hidden_size_head: 64
            text_length: 256
            learnable_pos_embed: True
            max_t: 41
            max_h: 84
            max_w: 84

        patch_embed_config:
          target: flux.ImagePatchEmbeddingMixin
          params:
            text_hidden_size: 4096
            use_conv: False

        adaln_layer_config:
          target: flux.AdaLNMixin
          params:
            qk_ln: True
            qk_ln_affine: True

        final_layer_config:
          target: flux.FinalLayerMixin

  conditioner_config:
    target: sgm.modules.GeneralConditioner
    params:
      emb_models:
        # crossattn cond
          - is_trainable: false
            input_key: txt
            ucg_rate: 0.1
            target: sgm.modules.encoders.modules.FrozenT5Embedder
            params:
              cache_dir: /workspace/ckpt/official_pretrains/hf_home
              max_length: 256
          - is_trainable: false
            input_key: txt
            ucg_rate: 0 # align with T5 in dit forward function
            target: sgm.modules.encoders.modules.FrozenSiglipEmbedder
            params:
              cache_dir: /workspace/ckpt/official_pretrains/

  first_stage_config:
    target : sgm.models.autoencoder.VideoAutoencoderInferenceWrapper
    params:
      cp_size: 1
      ckpt_path: /workspace/ckpt/official_pretrains/other_home/videokl_ch16_long_20w.pt
      ignore_keys: ['loss']

      loss_config:
        target: torch.nn.Identity

      regularizer_config:
        target: sgm.modules.autoencoding.regularizers.DiagonalGaussianRegularizer

      encoder_config:
        target: sgm.modules.cp_enc_dec.ContextParallelEncoder3D
        params:
          double_z: true
          z_channels: 16
          resolution: 256
          in_channels: 3
          out_ch: 3
          ch: 128
          ch_mult: [1, 2, 2, 4]
          attn_resolutions: []
          num_res_blocks: 3
          dropout: 0.0
          gather_norm: True

      decoder_config:
        target: sgm.modules.cp_enc_dec.ContextParallelDecoder3D
        params:
          reverse: True
          double_z: True
          z_channels: 16
          resolution: 256
          in_channels: 3
          out_ch: 3
          ch: 128
          ch_mult: [1, 2, 2, 4]
          attn_resolutions: []
          num_res_blocks: 3
          dropout: 0.0
          gather_norm: True

  loss_fn_config:
    target: sgm.modules.diffusionmodules.loss.RFLoss_meta
    params:
      schedule_shift: True
      flow_sigma_min: 1e-5
      sigma_sampler_config:
        target: sgm.modules.diffusionmodules.sigma_sampling.RFSampling
        params:
          p_mean: 0.0
          p_std: 1.0

  sampler_config:
    target: sgm.modules.diffusionmodules.sampling.RFSampler
    params:
      schedule_shift: False
      hunyuan_schedule: True
      num_steps: 50
      verbose: True

      discretization_config:
        target: sgm.modules.diffusionmodules.discretizer.RFDiscretization
        params:
          reverse: True

      guider_config:
        target: sgm.modules.diffusionmodules.guiders.VanillaCFG
        params:
          scale: 6
