args:
  # add args here
  # wandb_resume: true
  lr_decay_style: constant
  checkpoint_activations: True
  model_parallel_size: 1
  wandb: True
  wandb_project_name: pretrain_image
  experiment_name: pretrain-256-image
  mode: pretrain
  no_load_rng: True

  train_iters: 200000
  eval_iters: 1
  eval_interval: 1000
  save: ckpts
  save_interval: 2000
  log_interval: 20
  train_data: ["train_0", "train_1", "train_2", "train_3", "train_4", "train_5", "train_6", "train_7", "train_8", "train_9", "train_10"] #, "train_11"]
  valid_data: ["valid_0"]
  train_data_weights: [111, 1213, 85, 24, 117, 22, 1043, 565, 802, 44, 218] #, 422] #1213
  split: 1,0,0
  iterable_dataset: True
  iterable_dataset_eval: True
  num_workers: 8
  sequence_parallel_size: 1
  num_multi_query_heads: 8
  force_train: True
  save_at_start: True
  param_sync_check_interval: 100

data:
  target: data_video.IVAlterDataset
  params:
    batch_size: 128
    eval_batch_size: 1
    video_weight: 0 # image_weight = 1 - video_weight
    batch_from_same_dataset: True
    video_dataset_config:
      target: data_video.VideoPnPDataset
      params:
        reader_type: "decord"
        modify_prompt: True
        shuffle_buffer: 10
        image_size: [256, 384]
        frame_range: [[49, 1], [41, 1], [33, 1], [25, 2], [17, 3], [9, 5]] #
        inner_batch_size: 1
        fps: 8
        skip_frms_num: 4.
        meta_names: ['caption', 'duration', 'fps', 'optical_flow_score', 'long_caption', 'long_captionv2', 'aesthetic_score']
        extra_texts:
          - key: long_captionv2
            prob: 0.95
          - key: caption
            prob: 0.05

    video_dataset_each_filter:
      - path: ";/workspace/data1/video_and_image_datas/processed_videos_wds_datas/webvid" # 1107160
        filters:
          - key: optical_flow_score
            val: 3.0
            greater: True
          - key: aesthetic_score
            val: 4.56
            greater: True
      - path: ";/workspace/data1/video_and_image_datas/processed_videos_wds_datas/pandas70m/panda70m_training_full" # 12132306
        filters:
          - key: optical_flow_score
            val: 3.9
            greater: True
          - key: aesthetic_score
            val: 4.56
            greater: True
      - path: ";/workspace/data1/video_and_image_datas/processed_videos_wds_datas/pdd_movie" # 854924
        filters:
          - key: optical_flow_score
            val: 3.0
            greater: True
          - key: aesthetic_score
            val: 4.56
            greater: True
      - path: ";/workspace/data1/video_and_image_datas/processed_videos_wds_datas/Netflix" # 242209
        filters:
          - key: optical_flow_score
            val: 3.0
            greater: True
          - key: aesthetic_score
            val: 4.56
            greater: True
      - path: ";/workspace/data1/video_and_image_datas/processed_videos_wds_datas/elements" # 1175286
        filters:
          - key: optical_flow_score
            val: 3.0
            greater: True
          - key: aesthetic_score
            val: 4.56
            greater: True
      - path: ";/workspace/data1/video_and_image_datas/processed_videos_wds_datas/pexels1k" # 224563
        filters:
          - key: optical_flow_score
            val: 1.0
            greater: True
          - key: aesthetic_score
            val: 4.56
            greater: True
      - path: ";/workspace/data1/video_and_image_datas/processed_videos_wds_datas/pond5" # 10438118
        filters:
          - key: optical_flow_score
            val: 2.0
            greater: True
          - key: aesthetic_score
            val: 4.0
            greater: True
      - path: ";/workspace/data1/video_and_image_datas/processed_videos_wds_datas/shutterstock" # 5655439
        filters:
          - key: optical_flow_score
            val: 3.0
            greater: True
          - key: aesthetic_score
            val: 4.0
            greater: True
      - path: ";/workspace/data1/video_and_image_datas/processed_videos_wds_datas/istock" # 8029215
        filters:
          - key: optical_flow_score
            val: 3.0
            greater: True
          - key: aesthetic_score
            val: 4.0
            greater: True
      - path: ";/workspace/data1/video_and_image_datas/processed_videos_wds_datas/stock_videos_nowm_part1" # 440343
        filters:
          - key: optical_flow_score
            val: 3.0
            greater: True
          - key: aesthetic_score
            val: 4.0
            greater: True
      - path: ";/workspace/data1/video_and_image_datas/processed_videos_wds_datas/stock_videos_wm_part1" # 2189304
        filters:
          - key: optical_flow_score
            val: 3.0
            greater: True
          - key: aesthetic_score
            val: 4.0
            greater: True
      - path: ";/workspace/data1/video_and_image_datas/processed_videos_wds_datas/supplier" # 4224685
        filters:
          - key: optical_flow_score
            val: 3.0
            greater: True
          - key: aesthetic_score
            val: 4.0
            greater: True

    image_dataset_config:
      target: data_video.ImageWebDataset
      params:
        path: ";/workspace/data1/video_and_image_datas/clay1b_dataset/clay1b_tars/coyo_700m_merged_cleaned_wds,/workspace/data1/video_and_image_datas/clay1b_dataset/clay1b_tars/laion2ben_merged2_cleaned_wds"
        image_size: [256, 384]
        meta_names: ['aesthetic_score_laion_v2', 'recaption_en', 'caption']
        filters:
          - key: aesthetic_score_laion_v2
            val: 5.2
            greater: True
        extra_texts:
          - key: recaption_en
            prob: 0.95
          - key: caption
            prob: 0.05
        interpolation: 3


deepspeed:
  train_micro_batch_size_per_gpu: 1
  gradient_accumulation_steps: 1
  steps_per_print: 50
  gradient_clipping: 0.1
  zero_optimization:
    stage: 1
    cpu_offload: false
    contiguous_gradients: false
    overlap_comm: true
    reduce_scatter: true
    reduce_bucket_size: 1000000000
    allgather_bucket_size: 1000000000
    load_from_fp32_weights: false
  zero_allow_untested_optimizer: true
  bf16:
    enabled: True
  fp16:
    enabled: False
    loss_scale: 0
    loss_scale_window: 400
    hysteresis: 2
    min_loss_scale: 1
  optimizer:
    type: AdamW
    params:
      lr: 0.0001
      betas: [0.9, 0.95]
      eps: 1e-8
      weight_decay: 1e-4
  activation_checkpointing:
    partition_activations: false
    contiguous_memory_optimization: false
  wall_clock_breakdown: false
